* {
    box-sizing: content-box;
    overflow: hidden;
}

body {
    margin: 0;
}

#view {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#view iframe {
    position: absolute;
}

.anim_out_down {
    animation-name: out_down;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

.anim_in_down {
    animation-name: in_down;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

@keyframes out_down {
    from {transform:  translateY(0);}
    to {transform: translateY(-100vh);}
}


@keyframes in_down {
    from {transform:  translateY(100vh);}
    to {transform: translateY(0);}
}

.anim_out_up {
    animation-name: out_up;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

.anim_in_up {
    animation-name: in_up;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

.frame_shifted_down {
    transform: translateY(100vh);
}

.frame_shifted_up{
    transform: translateY(-100vh);
}

.frame_in_view{
    transform: translateY(0);
}

@keyframes out_up {
    from {transform: translateY(0);}
    to {transform: translateY(100vh);}
}


@keyframes in_up {
    from {transform:  translateY(-100vh);}
    to {transform: translateY(0);}
}

  .lds-ellipsis {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50vh;
    left: 50vw;
    z-index: 10;
    display: none;

    transform: translate(-50%, -50%);
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px black solid;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  
  
  